     	body{
            background-image: url("../img/usercab_bg.jpg");
            background-size: 100%;
        }
     	@-webkit-keyframes fade-in{
			from{
				opacity:0;
    			top:400px;
			}
			to{
				opacity: 1;
    			top:50px;
			}
		}
		.text-animated{
			display:inline;
			position:relative;
			top:0px;
			-webkit-animation:fade-in 3.5s;

		}
		.coral-text{
            color: #FF6F61 !important;
		}
			.section-reg .input-field label {
     		color: #FF6F61 !important;

   		}
   		/* label underline focus color */
		.section-reg .input-field input[type=text]:focus {
    		border-bottom: 1px solid #FF6F61 !important;
   		}
   		.section-reg .input-field input[type=password]:focus {
    		border-bottom: 1px solid #FF6F61 !important;
   		}
   		.section-reg .input-field input[type=email]:focus {
    		border-bottom: 1px solid #FF6F61 !important;
   		}
   		.section-reg .input-field input[type=tel]:focus {
    		border-bottom: 1px solid #FF6F61 !important;
   		}
 		/* icon prefix focus color */
		.section-reg .input-field .prefix.active {
			color: #FF6F61 !important;
		}
		.section-reg .input-field input[type=text].valid {
    		border-bottom: 1px solid #03a9f4 ! important;
   		}
   		/* invalid color */
		.section-reg .input-field input[type=text].invalid {
		     border-bottom: 1px solid #FF6F61 ! important;
		   }
		.section-reg .input-field input[type=email].valid {
    		border-bottom: 1px solid #03a9f4 ! important;
   		}
   		/* invalid color */
		.section-reg .input-field input[type=email].invalid {
		     border-bottom: 1px solid #FF6F61 ! important;
		   }
		.section-reg .input-field input[type=tel].valid {
    		border-bottom: 1px solid #03a9f4 ! important;
   		}
   		/* invalid color */
		.section-reg .input-field input[type=tel].invalid {
		     border-bottom: 1px solid #FF6F61 ! important;
		   }
		.section-reg .input-field input[type=password].valid {
    		border-bottom: 1px solid #03a9f4 ! important;
   		}
   		/* invalid color */
		.section-reg .input-field input[type=password].invalid {
		     border-bottom: 1px solid #FF6F61 ! important;
		}
		@-webkit-keyframes pop-out{
			from{
			opacity:0;
    			top:400px;
			}
			to{
			opacity:1;
    			 top:0px;
			}
		}
		.label-animated{
			position:relative;
			-webkit-animation:pop-out 2.5s;
		}